

<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-gray" >
                    <div class="row">
                        <div class="col-12">
                            <span class="letra-cabecera">Campos</span>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <div id="map"></div>
                </div>


                <div class="modal-footer">
                    <button (click)="regresar()" type="button" class="btn btn-success" > <i class="fas fa-list mr-2"> </i>  LISTAR PROPIEDADES</button>
                </div>

            </div>
        </div>
    </div>
</div>