<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-header bg-gray" >
                    <div class="row">
                        <div class="col-12">
                            <span class="letra-cabecera">Mantenimiento de Propiedad -  Total </span>
                        </div>
                    </div>
                </div>



                <div class="card-body">
                    <div class="table-responsive">
                        <br>
                        <table class="table table-bordered">
                            <thead style="background-color: #007BFF; color: #fff; font-weight: lighter;">
                                <tr>
                                    <th>ID</th>
                                    <th>Propietario</th>
                                    <th>Productor</th>
                                    <th>Pendiente</th>
                                    <th>Altitud</th>
                                    <th>Longitud</th>
                                    <th>Latitud</th>


                                    <th>Creado</th>
                                    <th>Responsable</th>
                                    <th>Actualizacion</th>
                                    <th>Estado</th>
                                    <th class="text-nowrap text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of data">
                                    <td>{{data.id}}</td>
                                    <td>{{data.property_id}}</td>
                                    <td>{{data.producer_id}}</td>
                                    <td>{{data.slope_id}}</td>
                                    <td>{{data.altitude}}</td>
                                    <td>{{data.longitude}}</td>
                                    <td>{{data.latitude}}</td>

                                    <td>{{data.shape_area}}</td>
                                    <td>{{data.dimension_ha}}</td>
                                    <td>{{data.create_date}}</td>
                                    <td>{{data.situation}}</td>

                                    <td class="text-nowrap text-center">
                                        <button  class="cursor btn btn-secondary mr-2"   > <i class="fas fa-info-circle"> </i>  </button> 
                                        <button  class="cursor btn btn-warning mr-2"  > <i class="fa fa-edit"> </i>  </button> 
                                        <button  class="cursor btn btn-danger mr-2"   > <i class="fas fa-trash-alt"> </i>  </button> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button  class="btn btn-secondary"> <i class="fas fa-arrow-left mr-1"> </i> Anteriores</button>
                        &nbsp;
                    <button  class="btn btn-success">Siguientes  <i class="fas fa-arrow-right mr-1"> </i> </button> 
                </div>



            </div>
        </div>
    </div>
</div>
