<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-gray" >
                    <div class="row">
                        <div class="col-6">
                            <span class="letra-cabecera ">Engineering VPN Request</span>
                        </div>
                        <div class="col-6 text-right" >
                            <span class="letra-cabecera ">N° de Solicitud XXXXX</span>
                        </div>
                    </div>
                </div>

                    


                <div class="card-body">

                    <div class="row mt-4">
                        
                        <div class="col-12">

                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">CUSTOMER NAME: <span style="color: red;">(*)</span> &nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Customer Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">REQUESTED COMPLETION DATE: &nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Requested Completion Date</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                            </div> 


                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">PROJECT NAME: <span style="color: red;">(*)</span> &nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Project Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">ESTIMATED COMPLETION DATE: &nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Estimated completion date</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                            </div> 


                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">PURPOSE: <span style="color: red;">(*)</span> &nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Purpose</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">RESPONSABLE: &nbsp;&nbsp;</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Responsable</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                            </div> 
                            
                        </div>
                    </div>

                </div>

            </div>




            <div class="card">
                <div class="card-header bg-gray" >

            <mat-tab-group mat-align-tabs="start">


                <mat-tab label="Contact">
                    <div class="card col">

                        <div class="card-header bg-gray mt-3">
                            <small class="letra-cabecera ">PRIMARY TECHNICAL</small>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mb-3"></label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">CUSTOMER</label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">ENTEL PERÚ</label>
                            </div>
                         </div>
                        <div class="row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">NAME:</label>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Customer Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Entel Perú Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">EMAIL:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">ALTERNATIVE PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>
                    </div>





                    <div class="card col-12 mt-3">
                        <div class="mt-3">
                            <small class="letra-cabecera ">Secondary TECHNICAL</small> <hr>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mb-3"></label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">CUSTOMER</label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">ENTEL PERÚ</label>
                            </div>
                         </div>
                        <div class="row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">NAME:</label>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Customer Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Entel Perú Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">EMAIL:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">ALTERNATIVE PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>
                    </div>



                    <div class="card col-12 mt-3">
                        <div class="mt-3">
                            <small class="letra-cabecera ">Third TECHNICAL</small> <hr>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mb-3"></label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">CUSTOMER</label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">ENTEL PERÚ</label>
                            </div>
                         </div>
                        <div class="row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">NAME:</label>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Customer Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Entel Perú Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">EMAIL:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">ALTERNATIVE PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>
                    </div>




                    <div class="card col-12 mt-3">
                        <div class="mt-3">
                            <small class="letra-cabecera ">Project MANAGER</small> <hr>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mb-3"></label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">CUSTOMER</label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">ENTEL PERÚ</label>
                            </div>
                         </div>
                        <div class="row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">NAME:</label>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Customer Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Entel Perú Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">EMAIL:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">ALTERNATIVE PHONE:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>
                    </div>



                    
                </mat-tab>




                <mat-tab label="VPN Config General">

                    <div class="card col-12">
                        <div class="mt-3">
                            <small class="letra-cabecera ">VPN CONFIGURATION</small> <hr>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mb-3"></label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">CUSTOMER</label>
                            </div>
                            <div class="form-group col-md-5 text-center">
                                <label class="font-weight-bold mb-3">ENTEL PERÚ</label>
                            </div>
                         </div>
                        <div class="row">
                                <div class="form-group col-md-2">
                                    <label class="font-weight-bold mt-3">GATEWAY DEVICE:</label>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Customer Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-5">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Entel Perú Name</mat-label>
                                        <input autocomplete="off" matInput >
                                    </mat-form-field>
                                </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">SITE LOCATION:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Email</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">IP ADDRESS (Peer 1):</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">ENCRYPTION DOMAIN:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold mt-3">ENCRYPTION DOMAIN:</label>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Customer Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-5">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Entel Perú Alternative Phone</mat-label>
                                    <input autocomplete="off" matInput >
                                </mat-form-field>
                            </div>
                        </div>


                        
                    </div>



                </mat-tab>










                <mat-tab label="VPN Config Ph-1">Content 3</mat-tab>
                <mat-tab label="VPN Config Ph-2">Content 3</mat-tab>
                <mat-tab label="Direccionamiento">Content 1</mat-tab>
                <mat-tab label="Firewall Polices">Content 1</mat-tab>
              </mat-tab-group>

                </div>
            </div>




        </div>
    </div>
</div>