<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-body p-4 justify-content-between">
                    <div class="row">
                        <div class="col-6">
                            <h4>Bienvenido, {{ user }}</h4>
                        </div>
                        <div class="col-6 text-right">
                            <h4 class="">{{ today | today }}</h4>
                        </div>
                    </div>

                </div>
                <div class="card-footer bg-white">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

        <br>

    <div class="row">

        <div class="col-3 cursor-pointer" routerLink="./security/users">
            <div class="card text-center">
                <i class="far fa-user icon_dash"></i>
                <span class="title_dash">Usuarios</span>
            </div>
        </div>
    </div>

</div>