<div class="main-content">
    <div class="row">

        


        <div class="col">

         
                    <div class="card mt-4">

                        <form class="form-horizontal form-material"
                        id="loginform" 
                        [formGroup]="registerForm"  
                        autocomplete="off">


                        <div class="card-header bg-gray" >
                            <div class="row">
                                <div class="col-12">
                                    <span class="letra-cabecera">Información Propiedad</span>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" >
                            <div class="row">
                                <div class="col-12">

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>ID Productor</mat-label>
                                                <input autocomplete="off" matInput  formControlName="id_productor">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Nombres Completos</mat-label>
                                                <input autocomplete="off" matInput formControlName="nombres">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Apellido Paterno</mat-label>
                                                <input autocomplete="off" matInput formControlName="apellido_p">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Apellido Materno</mat-label>
                                                <input autocomplete="off" matInput formControlName="apellido_m">
                                            </mat-form-field>
                                        </div>
                                    </div>





                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Cantidad de trabajores</mat-label>
                                                <input autocomplete="off" matInput formControlName="cantidad_trabajadores" >
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Trabajadores permanentes</mat-label>
                                                <input autocomplete="off" matInput formControlName="cantidad_permanentes">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Trabajadores ocasionales</mat-label>
                                                <input autocomplete="off" matInput formControlName="trabajadores_ocacionales">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Trabajadores por contrato</mat-label>
                                                <input autocomplete="off" matInput formControlName="trabajadores_contrato">
                                            </mat-form-field>
                                        </div>
                                    </div>





                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Direccion</mat-label>
                                                <input autocomplete="off" matInput  formControlName="direccion">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Ubigeo</mat-label>
                                                <input autocomplete="off" matInput formControlName="ubigeo">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Altitud</mat-label>
                                                <input autocomplete="off" matInput formControlName="altitud">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Situacion</mat-label>
                                                <input autocomplete="off" matInput formControlName="status" >
                                            </mat-form-field>
                                        </div>
                                        
                                    </div>


                                    


                                    <hr>


                                    <div class="form-row">
                                        
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Latitud</mat-label>
                                                <input autocomplete="off" matInput formControlName="latitud">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Longitud</mat-label>
                                                <input autocomplete="off" matInput formControlName="longitud">
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Area de trabajo</mat-label>
                                                <input autocomplete="off" matInput formControlName="area_trabajo">
                                            </mat-form-field>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>


                        </div>

                        <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-primary" >ACTUALIZAR INFORMACIÓN</button> -->
                                    <button *ngIf="!btnForm" type="button"  (click)="crear()" class="btn btn-primary" > <i class="fas fa-plus mr-1"> </i> CREAR PROPIETARIO</button>
                                    <button *ngIf="btnForm" type="button" (click)="editar()" class="btn btn-primary" > <i class="fas fa-save mr-1"> </i> ACTUALIZAR PROPIETARIO</button>
                                    <button (click)="cancel()" type="button" class="btn btn-success" > <i class="fas fa-list mr-1"> </i> LISTA PROPIEDADES</button>


                        </div>

                    </form>

                    </div>





              
            
        </div>
    </div>
</div>
