<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-gray">
                    <div class="row">
                        <div class="col-12">
                            <span  class="letra-cabecera">MONITOREO EVALUACIÓN KPIS</span>
                        </div>

                    </div>
                    <div class="row mt-4">
                        <div class="col-12 text-right">
                            <label class="font-weight-bold">Fecha: &nbsp;&nbsp;</label>
                            <mat-form-field appearance="outline">
                                <mat-label>Seleccione un rango</mat-label>
                                <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                                    <input required noKeyEventsHere matStartDate formControlName="start" placeholder="Inicio">
                                    <input required noKeyEventsHere matEndDate formControlName="end" placeholder="Fin">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-right">
                            <button (click)="search()" class="btn btn-primary">BUSCAR</button>&nbsp;
                            <button (click)="export()" class="btn btn-success">EXPORTAR</button>&nbsp;
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row card-header bg-gray">
                        <div class="col-12">
                            <div *authorize="'module_seguimiento'" class="table-responsive mat-elevation-z8 ">
                                <table (matSortChange)="dataSource.sortByFromMatSort($event)" style="width: 100%;" mat-table [dataSource]="dataSource" matSort>
                                    
                                    <ng-container matColumnDef="id">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="cell_name">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> CELDA </th>
                                        <td mat-cell *matCellDef="let element"> {{element.cell_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="gral_result">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> RESULTADO </th>
                                        <td mat-cell *matCellDef="let element"> {{element.gral_result}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="eval_1">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> EVAL_1 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.eval_1}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="result_eval_1">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> RESULT_1 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.result_eval_1}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="eval_2">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> EVAL_2 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.eval_2}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="result_eval_2">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> RESULT_2 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.result_eval_2}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="eval_3">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> EVAL_3 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.eval_3}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="result_eval_3">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> RESULT_3 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.result_eval_3}} </td>
                                    </ng-container>
                                    ----

                                    <ng-container matColumnDef="eval_4">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> EVAL_4 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.eval_4}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="result_eval_4">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> RESULT_4 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.result_eval_4}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="dia_de_evaluacion">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> DIA_EVALUACION </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dia_de_evaluacion}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="created_at">
                                        <th id class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header class='btn-primary'> FECHA_EVALUACION </th>
                                        <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator *ngIf="dataSource.page$ | async as page" [length]="page.total"
                                    [pageSize]="page.pageSize" [pageIndex]="page.pageNumber" [hidePageSize]="false"
                                    (page)="dataSource.fetch($event.pageIndex)">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>